
 .one{
    display: flex;
    flex-direction: column;
    gap:1rem;
    >.heading{
color: white;
background-color: rgb(255, 0, 0);
 padding: 5px;
 text-align: center;

    }
    >.one-img{
        height: 60vh;
        width: 90%;
        margin:0 auto;
    }
    >.firstButton{
        display: flex;
        flex-direction: column;
        width: 30%;
    margin: 0 auto;
        gap:0.5rem;
    }
 }
 .inputSet{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap:0.5rem;
    >.submitbtn{
width:30%;
margin:0 auto;
    }
 }
 .navSet{
    color:red;
    text-align: center;
 }
 .card{
    background-color: rgb(252, 241, 241);
    padding: 10px;
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 1rem;
  text-align: center;
  height: 800px;
 }
  .error{
    margin:0 auto;
  }
 .card{
    display: flex;
    flex-direction: column;
    gap:1rem;
 }
 .submitbtn{
    width:30%;
margin:0 auto;
 }
  /* .card{
   display: flex;
   flex-direction: column;
  } */